.wrapper {
  background-color: transparent;
  padding: 30px;
  display: flex; /* changed to flex to allow label and input alignment */
  flex-direction: column; /* stack the label and input vertically */
  max-width: 100%;
  height: 50px;
  flex-grow: 1;
  /* Removed min-width and height because they will be defined by content */
}

.wrapper .input-data {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  font-size: 1rem; /* Starting font size, adjust as needed */
  border-bottom: 2px solid silver;
  cursor: pointer;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.5rem; /* Increase the font size as needed */
  outline: none; /* Removes the highlight border on focus */
}

.input-label {
  margin-bottom: 5px; /* Add space between label and input */
  font-size: 1.5rem; /* Make the font size of the label larger */
  align-self: flex-end;
  cursor: pointer;
}

/* If you have specific styles for error messages */
.input-error {
  color: red;
  font-size: 1rem;
}
