@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");
/*  */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: Blue;
  --main-color-transparent: rgba(0, 0, 255, 0.8);
}
html {
  /* font-size: 80%; */
}

body {
  margin: 0px;
  background: #eee;
  font-family: Besley, serif;
}
