.register-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1s0px;
}
.register-portal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
}
.register-part{
  border-radius: 50px;
  padding: 10px;
  background-color: white;
  max-width: 50vw;
  margin: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);

}

.register-portal > * {
  flex-grow: 1;
}

.register-title{
  color: var(--main-color);
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  padding-left: 10px;
}

.register-subtitle{
  color: silver;
  font-size: 2rem;
  font-weight: 400;
  text-align: start;
  padding-left: 25px;
}

.register-logo{
  width: 30vw;
  height: auto;
  margin: 10px;
}

.logo-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.emergency-label{
  padding-left: 30px;
}

.button-register-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link-register-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.link-register{
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: end;
  padding-right: 25px;
  text-decoration: none;
}