.date-input{
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0,1);
  display: inline-block;
  flex-grow: 1;
  max-width: 40%;
  min-width: 40%;
  height: 4rem;
}

.date-input .input-data{
  height: 20px;
  width: 100%;
  position: relative;
}

.input-error{
  color: red;
  font-size: 1rem;
}

.date-input .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 17px;
}


.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-24px);
  font-size: 15px;
}

.date-input .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}