.file-input {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  padding-left: 30px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  background-color: #d3d3d3;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
}

.file-input__label:hover {
  background-color: #e4e4e4;
}

.file-input__label:active {
  background-color: #003580;
}
