.custom-button{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  flex-grow: 1;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  align-self: stretch;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button-container{
  display: flex;
  flex-grow: 1;
  max-width: 200px;
  padding: 12px;
}

.button-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}