.custom-button {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  flex-grow: 1;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  align-self: stretch;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button-container {
  display: flex;
  flex-grow: 1;
  max-width: 200px;
  padding: 12px;
  align-self: stretch;
}

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

/* Forgot Password Button/Link */
.forgot-password {
  display: block; /* or inline-block */
  text-align: center;
  margin-top: 1rem; /* Spacing above the link */
  color: #6c757d; /* A greyish color for the text */
  background-color: transparent; /* Ensures the background is transparent */
  text-decoration: underline; /* Underline to indicate it's a link */
  cursor: pointer; /* Changes cursor on hover */
  font-size: 0.875rem; /* Smaller font size than primary buttons */
  transition: color 0.3s ease; /* Transition for hover effects */
}

.forgot-password:hover {
  color: #6c757d; /* Maintains the same color on hover */
  background-color: transparent;
}
