.search-filter-div{
  display: flex;
  flex-direction: row;
}
.medicine-screen-pharmacist{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-medicine-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: -10px;
}

.add-medicine-button-container{
  display: flex;
  text-decoration: none;
}

.loading-error-container{
  display: flex;
  justify-content: center;
}