@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Recursive:wght@500&display=swap');

.app-header{
  color: var(--main-color);
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  padding-left: 10px;
}

.app-subheader{
  color: silver;
  font-size: 2rem;
  font-weight: 400;
  text-align: start;
  padding-left: 15px;
}

.login-header{
  color: #fff;
  font-size:5rem;
  font-weight: 900;
  font-style: italic;
  padding-left: 10px;
  align-self: center;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}
