@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.loading-indicator{
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid #f3f3f3;  /* Light grey */
  border-top: 3px solid #00a300;  /* Green */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px;
}