.card {
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 360px;
    display: flex;
    margin-top: 50px;
    margin-right: 50px;
}

.card-title {
  font-size: 28px; 
  text-align: center;
  margin: 0;
}

.card-hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.discount {
    align-items: center;
    font-size: 15px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-bottom {
    font-size: 15px;
    display: flex;
    margin-top: 10px; 
}

.card-list {
  display:flex;
  height: 50px;
  margin: 50px 50px;
}

.cost-content {
  width: 150px;
  margin-right: 40px;
}

.package-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 10px;
  text-align: center; 
  text-decoration: none; /* Remove underlines from links */
  font-size: 15px; 
  cursor: pointer; 
  min-width: 110px;
}

.admin-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 10px;
  text-align: center; 
  font-size: 15px; 
  cursor: pointer; 
  min-width: 110px;
  margin-left: 80px;
  margin-top: 50px;
}

.icon{
  margin-right: 10px;
  font-size: 17px;
  cursor: pointer;
}

.x-icon {
  margin-left: 250px;
  font-size: 20px;
  cursor: pointer;
}

.plus-icon {
cursor: pointer;
font-size: 50px;
margin-top: 150px;
margin-left: 120px;
}

.user-plus-icon {
  cursor: pointer;
  font-size: 100px;
  margin-top: 100px;
  margin-left: 100px;

}