.smallButton {
    width: 50px; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .viewOrderButton{
    width: 200px; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  .input-field {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
  }
  .success-message{
    color: green;
  }
  .failure-message{
    color: red;
  }